<% layout('/layouts/boilerplate') -%>

  <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      align-items: center;
    }

    .filter {
      margin-right: 2rem;
      text-align: center;
      opacity: 0.7;
    }

    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }

    .tax-info {
      display: none;
    }

    .tax-toggle {
      border: 1px solid #595858; 
      padding: 1rem;
      border-radius: 1rem; 
      
    }

    .filter p {
      font-size: 0.8rem;
    }
  </style>

  <body>
    <div id="filters">
      <!-- Trending -->
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>
      <!-- Room -->
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>
      <!-- Iconic Cities -->
      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
      </div>
      <!-- Mountain -->
      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountain</p>
      </div>
      <!-- Castles -->
      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </div>
      <!-- Amazing pools -->
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing pools</p>
      </div>
      <!-- Camping -->
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Camping</p>
      </div>
      <!-- Farms -->
      <div class="filter">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p>
      </div>
      <!-- Arctic -->
      <!-- <div class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
      </div> -->
      <!-- Beach -->
      <!-- <div class="filter">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach</p>
      </div> -->
      <div class="tax-toggle ms-auto">
        <div class="form-check form-switch form-check-reverse">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
        </div>
      </div>
    </div>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
      <% for(let listing of allListings) { %>

        <div class="card col listing-card">
          <a href="/listings/<%=  listing._id %>">
            <img src="<%= listing.image.url   %>" class="card-img-top" alt="listing image" />
            <div class="card-img-overlay"></div>

            <div class="card-body">
              <p class="card-text">
                <b>
                  <%= listing.title %>
                </b> <br />
                &#8377; <%= listing.price.toLocaleString() %> / night
                  &nbsp; &nbsp; <i class="tax-info">+18% GST</i>
              </p>
            </div>
          </a>
        </div>

        <% } %>
    </div>

    <!-- <ul>
    <li><a href="/listings/<%= // listing._id %>"><%= // listing.title %></a></li>
  </ul> -->

    <script>
      const taxSwitch = document.getElementById('flexSwitchCheckDefault');
      let taxInfo = document.getElementsByClassName('tax-info');

      taxSwitch.addEventListener('click', () => {
        console.log('clicked');

        console.log(taxInfo);
        for (info of taxInfo) {
          if (info.style.display != 'inline') {
            info.style.display = 'inline';
          } else {
            info.style.display = 'none';
          }

        }
      });



    </script>

  </body>